
<div class="testimonials-wrapper">
    <% @testimonials.each do |testimonial| %>
         <% if testimonial.photo.attached? %>
           <%= link_to edit_testimonial_path(@user, testimonial) do %>
             <%= cl_image_tag testimonial.photo.key, height: 300, width: 400, crop: :fill %>
            <%end%>
          <% end %>
            <div class="testimonial-content">
                <h2><%= testimonial.name %></h2>
                <p><%= testimonial.content %></p>
            </div>
    <% end %>
</div>

<%= link_to "Create your testimonial", new_testimonial_path %>
